{% extends 'leader/leader_base.html' %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Assign Works</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Team Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Employee ID</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assign</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for m in members %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../static/media/{{m.profile_picture}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{m.name}}</h6>
                          <p class="text-xs text-secondary mb-0">{{m.email}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{m.job_name}}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{m.leader_id.team_name}}</p>
                    </td>
                    <td class="align text">
                      <span class="text-secondary text-xs font-weight-bold">{{m.employee_id}}</span>
                    </td>
                    <td class="align text">
                      <span class="text-secondary text-xs font-weight-bold">{{m.contact}}</span>
                    </td>
                    {% if m.assigned_status %}
                    <td><span class="badge badge-sm bg-gradient-success">Work assigned</span></td>
                    {% else %}
                    <td class="align">
                      <form action="/assign_project" method="POST" style="display: flex; align-items: center;">
                        {% csrf_token %}
                        <input type="hidden" name="member_id" value="{{m.id}}">
                        <select name="project_id" class="form-select" style="margin-right: 10px; padding: 5px; border-radius: 5px; border: 1px solid #ced4da;">  
                        
                          {% for p in projects %}
                            {% if p.leader_approvel != 1 %}
                          <option value="{{p.id}}">{{p.title}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary" style="height: 38px; margin-top: 10px;padding-left: 15px;padding-right: 25px;">Assign</button>
                    </form>
                    
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
  {% for m in messages %}
  <script>alert("{{m}}")</script>
  {% endfor %}
  {% endif %}

{% endblock %}
